body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.calcCont {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 75%;
    width: 350px;
    border-radius: 30px;
}

.btn {
    height: 50px;
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: white;
    background-color: rgb(73, 73, 73);
}

.htmlResult {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    display: flex;
    align-self: flex-end;
    padding: 0% 10%;
    height: 50px;
    color: white;
}

span {
    font-style: italic;
}

.op {
    font-size: 15px;
    background-color: gray;
}
.op:hover {
    background-color: rgba(62, 62, 62, 0.547);
}

.igual {
    background-color: rgb(86, 138, 9);
}
.igual:hover {
    background-color: rgb(62, 98, 9);
}

.clear {
    background-color: rgb(86, 138, 9);
}
.clear:hover {
    background-color: rgb(62, 98, 9);
}
